@media screen and (min-width: 360px) {
    #menuDesktop{
        display: none;
    }
    #menuMobile{
        display: block;
    }
   
    
    /*#mainHome{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% auto 20% 10%;
        grid-template-areas: "header" "section" "article" "footer";
    }   
        
    #backHome{
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
    }*/
  
    /*#mainPrendas{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% auto 20% 10%;
        grid-template-areas: "header" "section" "article" "footer" ;
    }*/
    
    #gridPrendas {
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        grid-template-rows:repeat(2, 1fr) ;
        column-gap: 5px;
        row-gap: 5px;
       
    }


    /*#mainAccesorios{
        display: grid   
        grid-template-columns: auto;
        grid-template-rows: 20% auto 15%;
        grid-template-areas: "header" "section" "footer" ;
    }*/
    
    #gridAccesorios{
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-rows: repeat(2, 1fr) ;
        column-gap: 5px;
        row-gap: 5px;
    }

    #mainCalzados{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% 50% auto 25%;
        grid-template-areas: "header" "section" "article" "footer";
    }
    
    /*#gridCalzados{
        display: grid;
        grid-template-columns:repeat(4, 1fr) ;
        grid-template-rows: auto;
        column-gap: 5px;
        
    }*/

    #mainGiftCard{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% 30% auto 25%;
        grid-template-areas: "header" "section" "article" "footer" ;
    }
    

    #mainRegistrate{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% auto auto 15% ;
        grid-template-areas: "header" "section" "article" "footer" ;
    }

    #mainContacto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto 15%;
    grid-template-areas: "header" "section" "div" "footer" ;
    }
}
   


@media screen and (min-width: 1200px) {  
    #menuDesktop{
        display: block;
    }
    #menuMobile{
        display: none;
    }


    #mainPrendas{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% auto 20% 10%;
        grid-template-areas: "header" "section" "article" "footer" ;
    }
    
    #gridPrendas {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows:repeat(2, 1fr) ;
        column-gap: 5px;
        row-gap: 5px;
       
    }

    #mainAccesorios{
        display: grid;   
        grid-template-columns: auto;
        grid-template-rows: 20% auto 15%;
        grid-template-areas: "header" "section" "footer" ;
    }
    
    #gridAccesorios{
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-rows: repeat(2, 1fr) ;
        column-gap: 5px;
        row-gap: 5px;
    }

    #mainCalzados{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% auto 15%;
        grid-template-areas: "header" "section" "footer";
    }
    
    #gridCalzados{
        display: grid;
        grid-template-columns:repeat(4, 1fr) ;
        grid-template-rows: auto;
        column-gap: 5px;
        
    }

    /*#mainGiftCard{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% 30% auto 15%;
        grid-template-areas: "header" "section" "article" "footer" ;
    }*/    

    #mainRegistrate{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 25% auto auto 15% ;
        grid-template-areas: "header" "section" "article" "footer" ;
    }

    #mainContacto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% auto 15%;
    grid-template-areas: "header" "section" "article" "footer" ;
    }
    
}
