@import "media";
@import "variables";
@import "animaciones";
@import "maps";


.contenedorNav{
    a{
        color: aliceblue;
    }
    background-color: rgb(166, 160, 160);
    .nav-link {
        color: $navColor;
    }
    .nav li.nav-item a:hover{
        color: $colorHover;
        &:hover {
            background-color: $navColor;
            color: $colorHover;
            --bs-text-opacity: 0;
        }
    }
    
    .nav-item {
        text-decoration: none;
    }
    
    .dropdown-item {
        color: $colorHover;
        &:hover {
            background-color: rgba(220, 220, 220, 0.753) ;
            color: $colorHover;
        }
    }
   
    
         
}


.card-body{
    background-color: gray;
    a{
        background-color: beige;
        color: $colorHover;  
        border-color: $colorHover;
    }
}
.carousel-inner {
    .carousel-item img{
        object-fit: fil;
        max-height: 460px;
        width: 100%;
    }
}


.card{
    .card-img-top {
        width: auto;
        height: 50vh;
    }
    .card-img{
        height: 50vh;
        object-fit: scale-down;
    }

} 

/* */
*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
}

.padre-flex{
    justify-content: flex-end;
}

.bolso {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 10px;
}


a {
    font-family: $texto;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;     
}


footer{
    display: flex;
    justify-content: end;
}



/* Grillas*/
header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

section{
    grid-area: section;
}

article {
    grid-area: article;
}

/*Home*/
#colorLi{
    flex-direction: none;
}


#colorLi a {
    color: beige;
    text-decoration: none;
}


#footerHome{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

/*Prendas*/

 .textoPrendas{
    font-family: $texto;
    font-size: 30px;
    font-style: italic;
    color: rgb(134, 84, 98);
}


#gridPrendas {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:repeat(2, 1fr) ;
    column-gap: 5px;
    row-gap: 5px;
   
}


/*Accesorios*/
#mainAccesorios{
    display: grid;   
    grid-template-columns: auto;
    grid-template-rows: 20% auto 15%;
    grid-template-areas: "header" "section" "footer" ;
}

#gridAccesorios{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 1fr) ;
    column-gap: 5px;
    row-gap: 5px;
}

/*Calzados*/
.imgCalzados {
    margin-top: 200px;

}


#mainCalzados{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto 15%;
    grid-template-areas: "header" "section" "article" "footer";
}

#gridCalzados{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows: auto;
    column-gap: 5px;
    
}

/*Gift card*/
.btnG{
    font-family: 'Times New Roman', Times, serif;
}

#posicion{
    display: flex;
    justify-content: center;
}
    
#footerGift{
    display: flex;
    justify-content: end;

}
.textoGift {
    font-family: $texto;
    font-size: 20px;
    font-style: italic;
    color: gray;
    border: double 5px;
    margin-top: 80px;
}

.gift {
    font-family: $texto;
    font-size: 20px;
    font-style: italic;
    color: grey
}

.fieldsetGift {
background-color: whitesmoke;
}


/*Registrate*/
.articleRegistrate {
    margin-top: 100px;
    font-family: $texto;
    font-size: 20px;
    font-style: italic;
    color: grey;
    background-color: whitesmoke;
    .botonRegistrate {
        font-size: 16px;
        margin-left: 300px;
        border-radius: 1px;
    }
}



#mainRegistrate{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% auto auto 15% ;
    grid-template-areas: "header" "section" "article" "footer" ;
}


/*Contacto*/
.TextoContacto {
    font-family: $texto;
    font-size: 20px;
    font-style: italic;
    color: grey;
    border: double 5px;
    margin-top: 80px;
}

#mainContacto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% auto 15%;
    grid-template-areas: "header" "section" "article" "footer" ;
}


/* sass 2*/

@each $red, $color in $redes {
    .#{$red}{
        background-color: $color;
    }    
}

h3{
    color: map-get($map: $encabezado, $key:color );
    font-size: map-get($map: $encabezado, $key:tamaño );
    text-align: map-get($map: $encabezado, $key:centro );
    font-family: map-get($map: $encabezado, $key:estilo );
}

@mixin negrita {
    font-weight: bold;
    
}

.btn-primary {
    @include negrita;
}

.footer{
    @extend #footerHome;

}
