@media screen and (min-width: 360px) {
  #menuDesktop {
    display: none;
  }
  #menuMobile {
    display: block;
  }
  
  #gridPrendas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
  
  #gridAccesorios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
  #mainCalzados {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 50% auto 25%;
    grid-template-areas: "header" "section" "article" "footer";
  }
  
  #mainGiftCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 30% auto 25%;
    grid-template-areas: "header" "section" "article" "footer";
  }
  #mainRegistrate {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto 15%;
    grid-template-areas: "header" "section" "article" "footer";
  }
  #mainContacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto auto 15%;
    grid-template-areas: "header" "section" "div" "footer";
  }
}
@media screen and (min-width: 1200px) {
  #menuDesktop {
    display: block;
  }
  #menuMobile {
    display: none;
  }
  #mainPrendas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 20% 10%;
    grid-template-areas: "header" "section" "article" "footer";
  }
  #gridPrendas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
  #mainAccesorios {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 15%;
    grid-template-areas: "header" "section" "footer";
  }
  #gridAccesorios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 5px;
         column-gap: 5px;
    row-gap: 5px;
  }
  #mainCalzados {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% auto 15%;
    grid-template-areas: "header" "section" "footer";
  }
  #gridCalzados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  
  #mainRegistrate {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% auto auto 15%;
    grid-template-areas: "header" "section" "article" "footer";
  }
  #mainContacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 15% auto 15%;
    grid-template-areas: "header" "section" "article" "footer";
  }
}
/* animaciones-transformaciones-transition*/
#img {
  filter: brightness(100%);
  transition: all 2s;
}
#img:hover {
  transform: scale(1.2);
}


h2 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contenedorNav {
  background-color: rgb(166, 160, 160);
}
.contenedorNav a {
  color: aliceblue;
}
.contenedorNav .nav-link {
  color: white;
}
.contenedorNav .nav li.nav-item a:hover {
  color: black;
}
.contenedorNav .nav li.nav-item a:hover:hover {
  background-color: white;
  color: black;
  --bs-text-opacity: 0;
}
.contenedorNav .nav-item {
  text-decoration: none;
}
.contenedorNav .dropdown-item {
  color: black;
}
.contenedorNav .dropdown-item:hover {
  background-color: rgba(220, 220, 220, 0.753);
  color: black;
}


.card-body {
  background-color: gray;
}
.card-body a {
  background-color: beige;
  color: black;
  border-color: black;
}

.carousel-inner .carousel-item img {
  -o-object-fit: fil;
     object-fit: fil;
  max-height: 460px;
  width: 100%;
}


.card .card-img-top {
  width: auto;
  height: 50vh;
}
.card .card-img {
  height: 50vh;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

/* */
* {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
}

.padre-flex {
  justify-content: flex-end;
}

.bolso {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 10px;
}

a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}

/* Grillas*/
header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

article {
  grid-area: article;
}

/*Home*/
#colorLi {
  flex-direction: none;
}

#colorLi a {
  color: beige;
  text-decoration: none;
}

#footerHome, .footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

/*Prendas*/
.textoPrendas {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-style: italic;
  color: rgb(134, 84, 98);
}

#gridPrendas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}

/*Accesorios*/
#mainAccesorios {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto 15%;
  grid-template-areas: "header" "section" "footer";
}

#gridAccesorios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}

/*Calzados*/
.imgCalzados {
  margin-top: 200px;
}

#mainCalzados {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% auto auto 15%;
  grid-template-areas: "header" "section" "article" "footer";
}

#gridCalzados {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

/*Gift card*/
.btnG {
  font-family: "Times New Roman", Times, serif;
}

#posicion {
  display: flex;
  justify-content: center;
}

#footerGift {
  display: flex;
  justify-content: end;
}

.textoGift {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  color: gray;
  border: double 5px;
  margin-top: 80px;
}

.gift {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  color: grey;
}

.fieldsetGift {
  background-color: whitesmoke;
}

/*Registrate*/
.articleRegistrate {
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  color: grey;
  background-color: whitesmoke;
}
.articleRegistrate .botonRegistrate {
  font-size: 16px;
  margin-left: 300px;
  border-radius: 1px;
}

#mainRegistrate {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% auto auto 15%;
  grid-template-areas: "header" "section" "article" "footer";
}

/*Contacto*/
.TextoContacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  color: grey;
  border: double 5px;
  margin-top: 80px;
}

#mainContacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 15% auto 15%;
  grid-template-areas: "header" "section" "article" "footer";
}

.Facebook {
  background-color: blue;
}

.instagram {
  background-color: fuchsia;
}

.whatsapp {
  background-color: green;
}

h3 {
  color: black;
  font-size: 12 px;
  text-align: center;
  font-family: Georgia "Times New Roman" Times serif;
}

.btn-primary {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */